%table#page-view-tags-table.main-table
  %thead
    %tr
      %th.location
        Location
      %th.description
        Description
      %th.type
        Type
      - if params[:action] == "index"
        %th
          Product
      %th.action
  %tbody
  - if @page_view_tags and !@page_view_tags.blank?
    - @page_view_tags.each do |tag|   
      %tr{:class=>"#{cycle('odd', 'even')} row"}
        %td
          = link_to tag.location, tag
        %td
          = tag.description
        %td
          = tag.type
        - if params[:action] == "index"
          %td
            = tag.product.name
        %td
          = link_to("Delete", tag, :class => "delete button", :method => :delete, :confirm => "Delete this tag?")
  %tfoot
    %tr
