- if @tags and !@tags.blank?
  = tag_sort_link(@order)
  %table
    %thead
      %tr
        %th.left
          Hook
        %th
          Location
        %th
          Description
        - if params[:action] == "index"
          %th
            Product
        %th.right
    %tbody
      - @tags.each do |tag|
        %tr
          %td  
            = link_to tag.hook, tag
          %td
            = tag.location
          %td
            = tag.description
          - if params[:action] == "index"
            %td
              = tag.product.name
          %td
            = link_to("Delete", tag, :class => "delete", :method => :delete, :confirm => "Delete this tag?")
    %tfoot
      %tr
