%h1 WebTrends Tags

- if @tags and !@tags.blank?
  %table
    %thead
      %tr
        %th
          Hook
        %th
          Location
        %th
          Description
    %tbody
      - @tags.each do |tag|
        %tr
          %td  
            = link_to tag.hook, tag
          %td
            = tag.location
          %td
            = tag.description

- form_for :tag, :html => { :multipart => true } do |f|
  = error_messages_for :tag
  .form_row
    = f.label :hook
    = f.text_field :hook
  .form_row
    = f.label :location
    = f.text_field :location
  .form_row
    = f.label :description
    = f.text_area :description
  .form_row
    = f.label :snapshot
    = f.file_field :snapshot
  .form_row
    = f.submit "Create"
          
/ = link_to "Create a Tag", new_tag_path