%h2== Create a new tag for #{@product.name}

- form_for :tag, @tag, :url => tags_path, :builder => LabeledFormBuilder, :html => { :id => 'create_tag', :multipart => true } do |f|
  = f.error_messages
  = f.text_field :hook
  = f.text_field :location
  = f.text_area  :description
  = f.file_field :snapshot
  = f.hidden_field :product_id, :value => @product.id
  = f.submit "Next", :id => "submit"
