%h1= "#{h @tag.product.name} : #{h @tag.hook}"

= link_to "Edit", edit_tag_path(@tag)
|
= link_to "Delete", tag_path(@tag), :confirm => "Are you sure?", :method => "delete"

%table
  %tr
    %th{ :width => "25%" } Name
    %th Value
  %tr
    %td Hook
    %td= h @tag.hook
  %tr
    %td Location
    %td= h @tag.location
  %tr
    %td Description
    %td= h @tag.description

%h1 Key Value Pairs
         
= link_to_remote "New", :update => "new_kv_pair", :url => new_key_value_pair_path, :method => :get
#new_kv_pair
= render :partial => 'key_value_pairs/list'

%h1 Screenshots

= link_to "New"