%h1
  = @tag.product.name
  
#errors

%table#tag_attributes 
  %thead
    %tr
      %th.left
        Hook
      %th
        Location
      %th
        Description
      %th.right
  %tbody
    %tr
      %td
        = @tag.hook
      %td
        = @tag.location
      %td
        = @tag.description
      %td
        - if @tag.snapshot.exists?
          Update snapshot:
        - else
          Upload snapshot:
        - form_for @tag, :html => { :multipart => true } do |form|
          %div
            = form.file_field :snapshot
            = form.submit "Save"
         
= render :partial => 'key_value_pairs/list'

= image_tag @tag.snapshot.url if @tag.snapshot.exists?
