%h1
  = @tag.product.name
  
#errors

%ul  
  %li
    %strong
      Hook:
    %span.validate#hook
      = @tag.hook
  %li
    %strong
      Location:
    %span.validate#location
      = @tag.location
  %li
    %strong
      Description:
    %span.validate#description
      = @tag.description
  %li
    - if @tag.snapshot.exists?
      %strong
        Update snapshot:
    - else
      %strong
        Upload snapshot:

    - form_for @tag, :html => { :multipart => true } do |form|
      %div
        = form.file_field :snapshot
        = form.submit "Save"

= image_tag @tag.snapshot.url if @tag.snapshot.exists?


- unless @tag.properties.blank?
  %h2
    Properties
  %table
    %thead
      %tr
        %th
          Key
        %th
          Value
    %tbody
      - @tag.properties.each do |prop|
        %tr
          %td
            = prop.key
          %td
            = prop.value      