- form_for key_value_pair, :builder => LabeledFormBuilder do |f|
  = f.hidden_field :tag_id
  = f.text_field :key
  = f.text_field :value
  = f.select :key_val_type, %w[WebTrends DataWarehouse]
  = f.submit "Save", :class => "button"