#key_value.rounded.module
  = link_to "Add a key value pair", "#nogo", :id => "add_key_value", :class => "button"
  
  %ul#key_value_list
    - unless @tag.key_value_pairs.blank?
      - @tag.key_value_pairs.each do |kvp|
        %li
          %span.validate_kvp{ :id => "key_#{kvp.id}" }
            = kvp.key
          %span.validate_kvp{ :id => "value_#{kvp.id}" }
            = kvp.value
          = link_to "Save Tag", "#nogo", :class => "delete_tag_attr button"

  #key_value_snippet.hidden
    %div
      %input.key_input{:value => "Key" }
      %input.value_input{:value => "Value" }
      %input.tag_id_input{:value => @tag.id, :type => "hidden" }
        = link_to "Save Tag", "#nogo",  :class => "save_tag_attr button"

  #delete_key_value_snippet.hidden
    = link_to "Delete Tag", "#nogo", :class => "delete_tag_attr button"