.module
  %h3
    All Tags
  %table#all-tags-table.main-table
    %thead
      %tr
        %th.hook
          Hook
        %th
          Location
        %th
          Type
        - if params[:action] == "index"
          %th
            Product
        %th.right
    %tbody
      - @tags.each do |tag|
        %tr{:class=>"#{cycle('odd', 'even')} row"}
          %td
            - if tag.hook
              = link_to tag.hook, tag 
            - else
              = "---------------"
          %td
            - if tag.hook
              = tag.location
            - else
              = link_to tag.location, tag

          %td
            = tag.type
          - if params[:action] == "index"
            %td
              = tag.product.name
          %td
            = link_to("Delete", tag, :class => "delete button", :method => :delete, :confirm => "Delete this tag?")
    %tfoot
      %tr
  = will_paginate @tags
