.module.stats
  %h3
    = "Tags for #{@product.name}"
  %div.stats    
    %ul.stats-list
      %li
        = "Total Multitrack Tags: #{@total_multitrack_tags}"
      %li
        = "Total Page View Tags: #{@total_page_view_tags}"
    %ul.actions
      %li
        = link_to "Create Multitrack Tag", product_new_multitrack_tag_path(@product), :class => 'button', :id => 'create-multitrack-tag'
      %li
        = link_to "Create Page View Tag", product_new_page_view_tag_path(@product), :class => 'button', :id => 'create-pageview-tag'  
    
#multitracks.module
  #multitracks-add
    %h3  Add Multitrack Tags
  #multitracks-show      
    %h3  
      = "Multitrack Tags <span class='instruction'>(Many Multitrack Tags per page. Contains many Key/Value pairs)"
    = render :partial => 'multitrack_tags/list'
  
#pageviews.module
  #pageviews-add
    %h3  Add Page View Tags
  #pageviews-show
    %h3  
      = "Page View Tags <span class='instruction'>(One Page View Tag per page. May contain many Key/Value pairs)"
    = render :partial => 'page_view_tags/list'
  
- content_for :js_data_load do
  = "var PRIMEDIA_product_id = #{@product.id}"

