#left-nav.span-5
  - if logged_in?
    .module
      %h3
        Products
      %ul#products
        - products.each do |p|
          %li
            = link_to p.name, p
      = link_to "Add Product", new_product_path, :id => 'add_product_link'
    .module
      %h3
        = "Totals <span class='instruction'>(ALL sites)</span>"
      %ul#totals
        %li
          = "Total Tags: #{total_tags}"
        %li
          = "Total Multitrack Tags: #{total_multitrack_tags}"
        %li.last
          = "Total PageView Tags: #{total_page_view_tags}"
