!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      WebTrends Tagging System
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %link{ :href => "/stylesheets/jquery.autocomplete.css", :rel => "stylesheet", :type => "text/css" }

    %link{ :href => "/stylesheets/application.css", :rel => "stylesheet", :media => "screen", :type => "text/css" }
    /
      [if IE]>
      <link href="stylesheets/ie.css?1250365196" media="screen" rel="stylesheet" type="text/css" />
      <![endif]
    /
      [if IE 6]>
      <link href="stylesheets/ie6.css" media="screen" rel="stylesheet" type="text/css" />
      <![endif]
      
    :javascript
      rails_authenticity_token = '#{form_authenticity_token}'
    
  %body
    #header
      %ul
        %li= link_to "All Tags", tags_path
        - @products.each do |p|
          %li
            = link_to p.name, p
    #page
      =show_flashes 
      = yield
    = javascript_include_tag "jquery-1.3.2", "jquery-in-place-editor", "jquery.autocomplete", "application", :cache => true