!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      WebTrends Tag System
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %link{ :href => "/stylesheets/jquery.autocomplete.css", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "/stylesheets/application.css", :rel => "stylesheet", :media => "screen", :type => "text/css" }

    :javascript
      rails_authenticity_token = '#{form_authenticity_token}'
    
  %body
    #page
      = render :partial => "layouts/header"
      #main
        = show_flashes 
        = yield
    = javascript_include_tag "jquery-1.3.2", "jquery-in-place-editor", "jquery.autocomplete", "application", :cache => true